# Dependencies
node_modules
/venv
.env
.env.enc
.env.local

# Smart Contract Compilation & Build Artifacts
/build
/artifacts
/cache
/out

# Development Environment Files
.idea/         # JetBrains IDEs
.vscode/       # VS Code (optional, if you have specific team settings to ignore)
*.py[cod]      # Python byte-compiled files
__pycache__/

# Testing and Coverage
/coverage
.nyc_output
.cache
.pytest_cache

# Logs and Temporary Files
*.log
*.out
nohup.out
*.db
*.db-journal

# Specific to some blockchain frameworks (e.g., Chia)
config/keys.yaml
config/plots.yaml
*.offer
*.backup

# OS and Editor Files
.DS_Store      # macOS
Thumbs.db      # Windows
*.orig         # Git merge backups