# dependencies
# ========================
.deps/
node_modules/

# build outputs
# ========================
artifacts/
build-info/
cache/
out/
build/

# compiler output files
*.json
*_metadata.json

# logs
# ========================
*.log

# .env files (private keys)
# ========================
.env
.env.*
