:root {
  background-color: #167aa8;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
}

.square {
  height: 100px;
  width: 300px;
  background-color: #103e72;
  text-align: center;
  font-size: 32px;
}

.squares-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #f8f8f8;
    color: #181818;
  }
}
